[run]
branch = true
omit = */tests/*, */migrations/*, env/*, */urls.py, */settings/*, */wsgi.py, manage.py, */settings.py, */asgi.py, */admin.py, */apps.py    
source = .

[report]
show_missing = true